@model IEnumerable<VacationManagement.Models.VacationType>

@{
    ViewData["Title"] = "VacationTypes";
}

<h1>VacationTypes</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VacationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackgroundColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VacationName)
            </td>
            <td style="color:#ffff;background-color:@item.BackgroundColor">
    
                @Html.DisplayFor(modelItem => item.BackgroundColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberDays)
            </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
        </tr>
}
    </tbody>
</table>
